lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    //max-width: 720px;
}

/* gradient */
lite-youtube::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 2;
}

.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }


/***/

lite-vimeo {
    font-size: 10px;
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: 50%;
    cursor: pointer;
}
lite-vimeo:after {
    content: "";
    display: block;
    padding-bottom: 56.25%;
}
lite-vimeo > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
lite-vimeo, lite-youtube {
    background: no-repeat center url(/assets/svg/background-crossed-16_9.svg);
    background-size: cover;
    filter: grayscale(0);
    mix-blend-mode: normal;
    transition: .25 ease-in-out;
}
lite-vimeo:not(.ltv-activated), lite-youtube:not(.lyt-activated) {
    filter: grayscale(1);
    mix-blend-mode: multiply;
}
body.darkMode lite-vimeo:not(.ltv-activated), body.darkMode lite-youtube:not(.lyt-activated) {
    mix-blend-mode: color-dodge;
}
lite-vimeo:after, lite-youtube:after {
    background: none;
    border:  1px solid currentColor;
}
lite-youtube > .lty-playbtn, 
lite-vimeo > .ltv-playbtn {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);    
    z-index: 1;
    background: none;
    //filter: drop-shadow(0 4px 6px #33333360);
    filter:  drop-shadow(0 0 1px currentColor);
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    outline: 0;
    border: 0;
    cursor: pointer;
}
lite-youtube:hover > .lty-playbtn,
lite-vimeo:hover > .ltv-playbtn {
    opacity: 1;
}
lite-youtube > .lty-playbtn:before,
lite-vimeo > .ltv-playbtn:before {
    content: "";
    border-color: transparent transparent transparent var(--bg);
    border-style: solid;
    border-width: 2rem 0 2rem 3rem;
    display: inline-block;
    width: 100%;
    opacity: 1;
    transition: opacity .25s ease;
}
@media (min-width: 1200px){
    lite-youtube > .lty-playbtn:before,
    lite-vimeo > .ltv-playbtn:before {
        border-width: 4rem 0 4rem 6rem;
    }
}


lite-youtube > .lty-playbtn,
lite-youtube > .lty-playbtn:before,
lite-vimeo > .ltv-playbtn,
lite-vimeo > .ltv-playbtn:before, {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
lite-youtube.lyt-activated,
lite-vimeo.ltv-activated {
    cursor: unset;
}
lite-youtube.lyt-activated:before,
lite-vimeo.ltv-activated:before,
lite-youtube.lyt-activated > .lty-playbtn:before,
lite-vimeo.ltv-activated > .ltv-playbtn:before {
    opacity: 0;
    pointer-events: none;

}

.lyt-activated .lty-playbtn:before{opacity: 0;}
 