$font-1: "Epilogue", sans-serif;

$base: .2rem;
$baseline: $base*9;
$font-size: $base*6;

$normal: 300;
$medium: 500;
$bold: 600;

html{font-size: 100%; font-weight: $normal;}
@include for-size(desktop-1921) {
  @media (-webkit-device-pixel-ratio: 1) {
    html{font-size: 150%;}
  }
}

body{
  font-size: 18px;
  @media print{font-size: 13px;}
  line-height: $baseline;
  //@supports not (font-variation-settings : normal){
  font-family: $font-1;
  font-weight: $normal;
  color: var(--cc);
  /*}
  @supports (font-variation-settings : normal){
    font-family: $font-1v;
    font-variation-settings: "wght" 300;
  }*/
}


// Main

@mixin f1($s, $l: 0, $w: 300, $color: currentColor, $ls: 0){
    @if $w == bolder{ $w: $bold; }

    font-family: $font-1;
    font-weight: $w;
    letter-spacing: #{$ls}em;
    color: $color;

    @if($s == 0){
      line-height: #{$base * (5 + $l)};
      font-size: $base*3.5;      
    } @else if( $s == 1){
      line-height: #{$base * (9 + $l)};
      font-size: $base*6;  
    } @else if( $s == 2){
      line-height: #{$base * (11 + $l)};
      font-size: $base*9;  
    } @else if( $s == 3){
      line-height: #{$base * (15 + $l)};
      font-size: $base*13;  
    } @else if( $s == 4){
      line-height: #{$base * (5 + $l)};
      @media screen{
        font-size: calc(clamp( #{$base*10}, 6vw, #{$base*32}));
        line-height: 1.1em;
        letter-spacing: -.05em;
      }
      @media print{
        font-size: $font-size*4;
        line-height: 1.1em;
      }
    } @else if(){
      font-size: $base*$s;
      line-height: #{$base*$s + $base*$l};
    }
}