<!doctype html>
<html lang="{% if language == 'en' %}en{% else %}fr{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% include "partials/title.html" %}</title>

    <!--Favicon-->
    <link rel="android-chrome-192x192" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="android-chrome-512x512" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111111">
    <meta name="msapplication-TileColor" content="#FFEE58">
    <meta name="theme-color" content="#FFEE58">

    <!--SEO-->
    <meta property="og:title" content='{% include "partials/title.html" %}'>
    <meta name="twitter:title" content='{% include "partials/title.html" %}'>
    <meta property="og:url" content="automedias.org{{ page.url }}">
    <meta name="twitter:url" content="automedias.org{{ page.url }}">
    <meta name="description" content="{% if in_short %}{{in_short}}{%else%}{{website.in_short}}{%endif%}">
    <meta property="og:description" content="{% if in_short %}{{in_short}}{%else%}{{website.in_short}}{%endif%}">    
    <meta name="twitter:description" content="{% if in_short %}{{in_short}}{%else%}{{website.in_short}}{%endif%}">    
    <meta property="og:site_name" content="{{website.name}}">
    {% if language == 'en' %} 
      <meta property="og:locale" content="en_GB">
    {% else %}
      <meta property="og:locale" content="fr_FR">
    {% endif %}    
    <meta name="twitter:card" content="summary_large_image">
    {% block SEO %}{% endblock %}

    <!--Style-->
    <link rel="stylesheet" href="{{ '/assets/css/lite-embded.css' | url }}" type="text/css" >
    <link rel="stylesheet" href="{{ '/assets/css/pannellum.css' | url }}" type="text/css" >
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" type="text/css" >
    <link rel="stylesheet" href="{{ '/assets/font/f1/stylesheet.css' | url }}" type="text/css" >
  
  </head>

  <body class="noJs" 
        data-color-set="{{ [1,55, 120, 210] | random }}"
        data-serve="{{ type | default(layout)  }}">
    {% include "partials/topbar.html" %}
    {% include "partials/panorama.html" %}
    <main 
      data-type="{{ type | default(layout)  }}" 
      {% if layout != 'index' %}
        class="open"
      {% endif %}
      {% if printed_color %}
        data-printed-color="{{printed_color}}"
      {% endif %}
      >
      {% block main %}{% endblock %}
    </main>
  	{% include "partials/footer.html" %}
    <div class="sr-only" aria-hidden>
      {% include "../../design/assets/svg/icons.svg" %}
    </div include>
  </body>

  <!--Scripts-->
  <script type="text/javascript" src="{{ '/assets/lib/mini-spa.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/assets/lib/lite-vimeo-embed.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/assets/lib/lite-yt-embed.js' | url }}"></script>
  <!--<script type="text/javascript" src="{{ '/assets/lib/pannellum.min.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/panorama-init.js' | url }}"></script>-->
  <script type="text/javascript" src="{{ '/assets/lib/share-button.min.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/global.js' | url }}"></script>
  {% block script %}{% endblock %}

</html>