{% extends "_base.html" %}

{% block SEO %}{% endblock %}

{% block Title %}
  Évènements&thinsp;—&thinsp;{{website.name}}
{% endblock %}

{% block main %}
  <section>    
    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}
    {% include "partials/list_filter.html" %}
    
    <ul class="list event">
      {%- for event in collections.events | reverse -%}
        {% include "partials/list_item.html" %}
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}