{% extends "_base.html" %}

{% block SEO %}
  <meta property="og:type" content="event">
  <meta property="event:start_time" content="{% if event_date | isArr %}{{event_date[0]}}{% else %}{{event_date}}{% endif %}">
  {% set cover =  ['/media/social/', (title | slug), '.webp'] %}
  {% set cover =  cover | join  %}
  {% set cover =  "/assets/social/_fallback_cover.webp" %}
  <meta property="og:image" content="{{website.url}}{{ cover }}">
  <meta name="twitter:image" content="{{website.url}}{{ cover }}">
{% endblock %}

{% block main %}
  <article>

    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}

    {% include "partials/header.html" %}
    
    {% if content %}
    <section id="main_description" class="article">
      <div class="wrapper">
        {{ content | markdown |  safe }}
      </div>
    </section>
    {% endif %}

    {% if teasers %}
    <section id="teasers" data-item="{{teasers | length }}">
      <h1>Teaser</h1>

      {% for teaser in teasers %}
        {% if (teaser.plateform == 'vimeo' or teaser.plateform == 'youtube') %}
        <div class="container">
          <lite-{{teaser.plateform}} videoid="{{teaser.id}}" id="lv-{{ loop.index }}" class="lv"></lite-{{teaser.plateform}}>
          <p>{{teaser.title | markdown | safe}}</p>
        </div>
        {% endif %}
      {% endfor %}

    </section>
    {% endif %}



    {% if videos %}
    <section id="videos" data-item="{{videos | length }}" class="closed">
      <h1>
        {% if language == 'fr' %} 
          Videos
        {% else %}
          Videos
        {% endif %}
      </h1>

      {% for video in videos %}
        {% if (video.plateform == 'vimeo' or video.plateform == 'youtube') %}
        <div class="container">
          <lite-{{video.plateform}} videoid="{{video.id}}" id="lv-{{ loop.index }}" class="lv"></lite-{{video.plateform}}>
          <p>{{video.title | markdown | safe}}</p>
        </div>
        {% endif %}
      {% endfor %}

    </section>
    {% endif %}

    {% if not date | isInThePast and inscription %}
    <section id="inscription">
      <h1>{{ inscription.method }}</h1>
      <div class="wrapper">
        {{ inscription.howto | markdown | typo | safe}}
      </div>

      {% if inscription.link %}
        <a href="{{inscription.link}}">
          {{ inscription.method }}
        </a>
      {% endif %}

    </section>
    {% endif %}

    <section id="program">
      <h1>
        {% if language == 'fr' %} 
          Programme
        {% else %}
          Program
        {% endif %}</h1>
   
      <ul>
      {% for day in programme %}
        <li class="day">  

          <div class="time">
            {{ day.date | date | safe }}
            <p class="eventDayNumber" hidden>
              <span class="day">
                  {% if language == 'fr' %} 
                    Journée 
                  {% else %}
                    Day 
                  {% endif %}
              </span> 
              <span class="number"> {{ loop.index }}</span>
            </p>
          </div>
          
          <h2 class="dayDescription">{{ day.title | markdown | escaP | safe }}</h2>

          <ul class="dayAllSessions">

            {% set session = "--init--" %}
            {% for event in day.schedule %}
            
              {% if event.session != session and not event.break %}
                {% if session != "--init--" and session != "break" %}</ul></li>{% endif %}
                <li class="daySession
                  {% if event.format == 'ouverture' %}
                   opening
                  {% endif%} ">
                  {% set session = event.session  %}
                  <h3>{{ event.session | safe}}</h3>
                  <ul class="dayItems">
              {% endif %}

              {% if event.break %}
                </ul></li>

                <li class="daySession break">
                  <h3>
                  {% if event.start_time > 720 and event.start_time < 840  %}
                    {% if language == 'fr' %}Déjeuner 
                    {% else %}Lunch{% endif %}
                  {% else %}
                    {% if language == 'fr' %}Pause 
                    {% else %}Break {% endif %}                  
                  {% endif %}
                  </h3>
                </li>
                {% set session = "break"  %}
              {% else %}
              <!-- start card -->
              <li class="dayItem">

                <time datetime="{{event.start_time | time}}">  {{event.start_time | time}} - {{event.end_time | time}}</time>

                {% if event.format 
                    and not (event.flag == 'ouverture' or event.flag == 'opening')
                 %}
                  <div class="flag">{{event.format}}</div>
                {% endif %}

                {% if event.title %}
                  <h4 class="title">{{event.title | markdown | escaP | safe }}</h4>
                {% endif %}

                {% if event.description %}
                  <div class="description">
                    {{event.description | markdown | safe}}
                  </div>
                {% endif %}

                {% if event.moderator %}
                  <p class="moderator">
                  {% if language == 'fr' %} 
                    Session animée par 
                  {% else %}
                    Session moderated by&#32;
                  {% endif %}

                  {%- if (event.moderator | isArr) -%}{% for moderator in event.moderator %}{% if loop.index == event.moderator | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ moderator }}{% endfor %}{%- else -%}{{event.moderator}}{%- endif -%}</p>
                {% endif %}

                {% if event.translator %}
                  <p class="translator">

                  {% if language == 'fr' %} 
                    Traduction simultanée par&#32;
                  {% else %}
                    Simultaneous translation by&#32;
                  {% endif %}

                  {%- if (event.translator | isArr) -%}{% for translator in event.translator %}{% if loop.index == event.translator | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ translator }}{% endfor %}{%- else -%}{{event.translator}}{%- endif -%}</p>
                {% endif %}

                {% if event.isit %}
                  <p class="isit">

                  {% if language == 'fr' %} 
                    Interprétation simultanée par&#32;
                  {% else %}
                    Simultaneous interpretation by&#32;
                  {% endif %}

                  {%- if (event.isit | isArr) -%}{% for isit in event.isit %}{% if loop.index == event.translator | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ isit }}{% endfor %}{%- else -%}{{event.isit}}{%- endif -%}</p>
                {% endif %}

                {% if event.speakers %}
                  <p>
                    {% if language == 'fr' %}Par&#32;
                    {% else %}By&#32;{% endif %}
                    {%- if (event.speakers | isArr) -%}{% for speakers in event.speakers %}{% if loop.index == event.speakers | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ speakers }}{% endfor %}{%- else -%}{{event.speakers}}{%- endif -%}
                  </p>
                {% endif %}

                {% if event.guests %}
                  {%- if (event.guests | isArr) -%}
                    <h4>
                      {% if language == 'fr' %} Invités
                      {% else %}Guests{% endif %}
                    </h4>
                    <ul class="guests 
                    {% if 4 > event.guests | length %} xs{% endif %}">
                    {% for guest in event.guests %}
                      <li>{{ guest }}</li>
                    {% endfor %}
                    </ul>
                  {% else  %}
                    <h4>
                      {% if language == 'fr' %}Invité
                      {% else %}Guest{% endif %}
                    </h4>
                    {{event.guests}}
                  {% endif %}
                {% endif %}

                {% if event.workshop %}
                  <h4>
                    {% if language == 'fr' %}Ateliers
                    {% else %}Workshops{% endif %}
                  </h4>
                  {% if (event.workshop |isArr) %}
                    <ul class="workshop">
                      {% for workshop in event.workshop %}
                        <li>{{ workshop | markdown | escaP | safe }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}

                {% if event.debate %}
                  <div class="debate">
                    {% set svg = 'icon-talk' %}
                    {% include "partials/tools/svg_use.html"  %}
                    <p>
                    {%- if (event.speakers | isArr) or (event.guests | isArr)-%}
                      {% if language == 'fr' %} 
                        {{event.debate.duration}} minutes de discussion intervenants&#8209;public.
                     {% else %}
                        {{event.debate.duration}} minutes open talk.
                      {% endif %}
                    {% else %}
                      {% if language == 'fr' %} 
                        {{event.debate.duration}} minutes de discussion intervenant&#8209;public.
                     {% else %}
                        {{event.debate.duration}} minutes open talk.
                      {% endif %}
                    {% endif %}

                    </p>
                  </div>
                {% endif %}

              </li>
              <!-- end card -->

              {% endif%}
            {% endfor%}
            </li>
          </ul>
                 
        </li>
        {% endfor %}
      </ul>
    </section>

    {% set guests = [] %}
    
    {% for day in  programme %}
      {% for event in day.schedule %}
       
        {% if event.guests %}
          {% set guests = (guests.push( event.guests), guests) %}
        {% endif %}

        {% if event.speakers %}
          {% set guests = (guests.push( event.speakers), guests) %}
        {% endif %}

      {% endfor%}
    {% endfor%}
    {% set guests = guests | uniq %}
              
    {% if guests %}
      <section id="guests">
        <h1>
         {% if language == 'fr' %} 
          Invités
        {% else %}
          Guests
        {% endif %}
      </h1>

        <ul class="artefact" aria-hidden="true">
        {% for guest in guests %}
          <li>
            <button data-item="{{loop.index}}" aria-hidden>{{guest | replace("(sous réserve)", "")}}</button>
          </li>
        {% endfor%}
        </ul>

        <ul aria-label="list of guest">
          {% for guest in guests %}
            <li data-item="{{loop.index}}">
              <h2>{{guest}}</h2>
              {% for people in people_database %}
                {% if (guest | replace("(sous réserve)", "") ) == people.name %}
                  {% if people.title %}
                    <p aria-label="job title">{{people.title}}</p>
                  {% endif %}
                  {% if people.contact %}
                    <ul aria-label="contact">
                    {% for contact in people.contact %}
                      <li>{{ contact | markdown | safe }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  {% if people.bio %}
                    {{people.bio | markdown | escaP | safe}}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}


    {% if practical_info %}
    <section id="practical_information">
      <h1>
        {% if language == 'fr' %} 
          Infos pratiques
        {% else %}
          Practical info
        {% endif %}
      </h1>
      
      <ul>
        {% for info in  practical_info %}
          <li>
            <h2>{{info.title}}</h2>
            {{info.description | markdown | typo | escaP | safe}}
          </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}

    {% if aside %}
      {% for a in aside %}
        <section class="closed aside" data-section="{{a.title}}">
          <h1>{{a.title}}</h1>
          <div class="wrapper">
            {{a.content | markdown | typo | safe }}
          </div>
        </section>
      {% endfor %}
    {% endif %}
    
    {% if partners %}
    <section id="partners">
      <h1>
        {% if language == 'fr' %} 
          Partenaires
        {% else %}
          Partners
        {% endif %}
      </h1>

      <ul>
      {% set partPrevCat = "--init--" %}
      {% for partner in partners %}
        {% if partner.name %}

          {% if partner.category and partner.category != partPrevCat %}
            {% if partPrevCat != "--init--" %}</ul></li>{% endif %}
            <li class="partnerCategory">
              {% set partPrevCat = partner.category  %}
              <h2>{{ partPrevCat }}</h2>
              <ul class="partnerItems">
          {% endif %}  

          <li>
            {% if partner.link %}
              <a href="{{ partner.link}}" target="_blank" rel="noopener noreferrer" >
            {% endif %}

            {% if partner.logo %}
              <img src="/assets/media/partners_logos/{{partner.logo}}" alt="{{ partner.name }}" loading="lazy">
            {% else %}
              {{ partner.name }}
            {% endif %}

            {% if partner.link %}
              </a>
            {% endif %}
          </li>

        {% endif %}  
    {% endfor %}
    
    {% if session != "--init--" %}</ul></li>{% endif %}

    </ul>
    {% if legals %}
      <div class="legals">
        {{legals |  markdown | safe }}
      </div>
    {% endif %}
    </section>
    {% endif %}


    {% if linked_publications %}
      <section id="linked_publications">
        <h1>
        {% if language == 'fr' %} 
          Publications en lien
        {% else %}
          Linked publication
        {% endif %}
        </h1>
        <ul class="list publication">
          {% for publication in collections.publications %}
            {% set id = publication.fileSlug | truncate(3, true, "")  | int %}
            {% if id in linked_publications %}
              {% include "partials/list_item.html" %}
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    <section id="colophon">
      <ul>
        <li>Dessin&thinsp;: <span>{{website.colophon.dessin  | markdown | escaP | safe}}</span></li>
        <li>Type&thinsp;: <span>{{website.colophon.typeface  | markdown | escaP | safe}}</span></li>
        <li>Design&thinsp;: <span>{{website.colophon.design  | markdown | escaP | safe}}</span><span>
        <li>Composé, dans un navigateur web, avec PagedJs</li>
      </ul>
    </section>


  </article>
{% endblock %}
