{% extends "_base.html" %}

{% block SEO %}{% endblock %}

{% block Title %}
  Publications&thinsp;—&thinsp;{{website.name}}
{% endblock %}

{% block main %}
  <section>
    
    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}
    {% include "partials/list_filter.html" %}

      <!--One Mega page for listing. Set filter -->
    <ul class="list publication" data-sort-by="title">
      {%- for publication in collections.publications -%}
        {% include "partials/list_item.html" %}
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}

