{% extends "_base.html" %}



{% block SEO %}
  <meta name="author" content="
    {%- if (author | isArr) -%}{% for author in author %}{% if loop.index != 1 %},&#32;{% endif %}{{ author }}{% endfor %}
    {% else %}
      {{ author }}
    {% endif%}
  ">
  <meta property='og:type' content='article' />
  {% set cover =  ['/media/social/', (title | slug), '.webp'] %}
  {% set cover =  cover | join  %}
  {% set cover =  "/assets/social/_fallback_cover-2.webp" %}
  <meta property="og:image" content="{{website.url}}{{ cover }}">
  <meta name="twitter:image" content="{{website.url}}{{ cover }}">
{% endblock %}

{% block Title %}
  {{ title | replace("*", "") | safe}}&thinsp;—&thinsp;{{website.name}}
{% endblock %}


{% block main %}
  <article {% if video or audio %}data-media="true"{%endif%}>
    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}
    {% include "partials/header.html" %}

    {% if video %}
    <section id="videos">
      {% if (video.plateform == 'vimeo' or video.plateform == 'youtube') %}
        <lite-{{video.plateform}} videoid="{{video.id}}" class="lv"></lite-{{video.plateform}}>
      {% endif %}
    </section>
    {% endif %}

    <section class="article">

    {% if audio %}
      <aside id="audio">
        {% if audio.plateform == 'soundcloud' %}
          <iframe width="100%" height="auto" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{audio.id}}&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=false"></iframe>
        {% endif %}
      </aside>
      {% endif %}

      <div class="wrapper">
        {{ content | typo | safe }}
      </div>
    </section>



    {% if aside %}
      {% for a in aside %}
        <section class="closed aside" data-section="{{a.title}}">
          <h1>{{a.title}}</h1>
          <div class="wrapper">
            {{a.content | markdown | typo | safe }}
          </div>
        </section>
      {% endfor %}
    {% endif %}

    {% if bibliography %}
    <section class=" bibliography closed" data-section="bibliography">
      <h1>
        {% if language == 'fr' %} 
          Bibliographie
        {% else %}
          Bibliography
        {% endif %}
      </h1>

      <ol>
        {% set count = 1 %}
        {% for a in bibliography %}
            {%- if a.title -%}
              <li class="noCounter">
                <h2>{{a.title | markdown | escaP | safe }}</h2>
                <ol {% if count != 1 %}start="{{count}}"{% endif %}>
                {% for b in a.references %}
                  <li>{{ b | markdown | escaP | safe }}</li>          
                  {% set count = count + 1 %}
                {% endfor %}
                <ol>
              </li>
            {% else %}
                <li>{{ a | markdown | escaP | safe }}</li>          
            {% endif %}
        {% endfor %}
      </ol>
    </section>
    {% endif %}


  </article>
{% endblock %}