// clean :  Global to all paged js export in this site

/* Use A5 paper */
@page {
  size: $pW $pH;
  margin-top: $mT;
  margin-bottom: $mB;
  background: var(--bg);
}
@page {
  bleed: 1px;
  //bleed: $bleed;
  marks: crop;
}


@page:left {
  margin-left: $mGf;
  margin-right: $mPf;

  @bottom-left {
    font-size: $font-size*.6;
    line-height: 1.5em;
    //top: -2mm;
    content: "automedias.org";
  }
}

@page:right {
  margin-left: $mPf;
  margin-right: $mGf;

  @bottom-left {
    font-size: $font-size*.6;
    line-height: 1.5em;
    //top: -2mm;
    content: string(date);
  }
}

@page:first {
  @bottom-left {content: none;}
  @top-left {content: none;}

  @bottom-right-corner {
    /* content: string(credit);
    content: "Illustration Lucile Kessil";
    font-size: $font-size*.6;
    line-height: 1.5em; */
    //transform: rotate(-90deg);
  }
}

@media print{

  html{font-size: 10px;}
  
  main {
    height: 100%;

    & > section,
    & > article{
      height: 100%;
    }
  }

  main > article > header{
    h1{string-set: title content(text);}
    .flags{display: none;}
    .date time{string-set: date content(text);}
  }

  #topbar{display: none;}

  #sideAction,
  #linked_publications,
  #videos,
  #teasers,
  [data-section="Ressources"],
  #guests{
    display: none !important;
  }

  a::after {
    content: " (" attr(href) ")";
  }
}