// clean : just for event 003

//body.print{
@media print{
	main[data-type="event"]{
		#main_description{
			break-before: page;
			justify-content: flex-start !important;
			.wrapper{
				max-width: 80%;
				h1{
					margin-top: 0;
					column-span: all;
					&:first-of-type{display: none;}
				}
			}
		}

		#inscription{
			position: absolute;
			bottom: 0;
			border-top: $border;
			margin-top: $base*4;

			column-count: 2;

			h1{
				@include f1(2,0,$bold);
				text-transform: capitalize;
				padding: $base*4 0;
				column-span: all;
			}

			p{break-inside: avoid;}

			a.link{
				text-decoration: underline;
				text-decoration-skip-ink: auto;

				&:after{
					display: block;
				}
				
				&:before{
					content: "→ ";
					height: auto;
					display: inline-block;
					overflow: hidden;
					vertical-align: middle;
					padding-right: math.div($unite, 2);
				}
			}

			a.mail:after, 
			a.collecte:after, 
			a.xxl:after{ 
				content: none !important;
			}
		}

		#program{
			h1{ 
			 display: none;
			}

			.day{
			 break-before: page;
			}
		}

		#practical_information{
			 break-before: page;
			 padding-top: 1.5mm;

			a:before{
				content: "→ ";
				height: auto;
				display: inline-block;
				overflow: hidden;
				vertical-align: middle;
				padding-right: math.div($unite, 2);
			}

		 	a:after{
		 		display: block;			 	
		 	}

		 	figure{
		 		position: absolute;
				top: 30mm;
				left: 68mm;
				width: 50mm !important;
		 	}
		}
		&.forscreen #practical_information a:after{content: none}

		[data-section="Organisation"]{
	    margin-top: 10mm;
			.wrapper{column-count: 2;}
			ul{
				break-inside: avoid;

				li:before{
					content: ".";
					left: -.5em;
					top: -.2em;
				}	
			}
			ul:nth-of-type(1) em{ 
				display: block;
				@include f1(0);
			}
			ul:nth-of-type(2) em{ display: none;}

			h2:nth-of-type(3) { column-span: all; margin-top: $baseline;}
			.wrapper > p:nth-of-type(1){break-inside: avoid; width: 95.5mm}
			p{text-align: left; }
		}
		#partners{
			 break-before: left;
			 > ul:last-child:after{content: none !important;}
			 .legals{top: -17mm; left: 68mm;}
			 li.partnerCategory:nth-of-type(6){
			 	li:nth-of-type(3),
			 	li:nth-of-type(4){
			 		grid-row: 2  ;
			 	}
			 } 
			 li.partnerCategory:nth-of-type(5){
			 	li:nth-of-type(3){
			 		grid-row: 2  ;
			 		img{
			 			transform: scale(1.5);
						transform-origin: left;
					}
			 	}
			}
		}
	}
}



[data-page-number="1"] .pagedjs_pagebox > .pagedjs_area{
  height: $pH;
   main.print{
  	height: calc(#{$pH - $mT - $mB});
  }
  article{
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  }
}

[data-page-number="4"],
[data-page-number="5"],
[data-page-number="6"],
[data-page-number="7"]{
	&:before{
		content: "";
		//background: var(--bg);
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(/../../assets/media/events/003-cover.jpg) !important;
		background-size: calc( $pW * 2 + $bleed  * 2);
		opacity: .1;
		mix-blend-mode: darken;
	}
}
[data-page-number="5"]:before{ 
	background-position: top right;
}
[data-page-number="6"]:before{ 
	background-position-x: left;
}
[data-page-number="7"]:before{ 
	background-position-x: right;
}
[data-page-number="6"]:before, 
[data-page-number="7"]:before{ 
	background-position-y: 89.5%;
}

[data-page-number="4"]{
	.daySession:not(.break) {
		grid-column: span 2 !important;
	}
}
[data-page-number="6"],[data-page-number="7"]{
	.daySession:last-child {
		grid-column: span 4 !important;
		.workshop{
			column-count: 2;
		}
	}
}

[data-id="program"] li.day .dayAllSessions .daySession ul.dayItems li.dayItem time{
	font-weight: $normal !important;
	margin-top: $base*4 !important;
	&:after{
		border-width: 1px !important;
	}
}