	.ariane{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		@include flex;
		@include justify-content(space-between);

		.type{ text-transform: capitalize;}
		.title{ @include align-self(flex-start); display: none }
		.reading{}
	}