body:not(.print){

	nav#panorama{

		position: fixed;
		height: 100vh;
		width: 100vw;
		
		&:not(.active){
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 150vh;
				width: 150vw;
				background: var(--cc);
			}
			ul#panFallback{
				color: var(--bg);
			}
		}
		
		> *{
			left: 0;
			top: 0;
			position: absolute;
		}

		ul#panFallback{
			@include flex();
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);
			width: calc(min(calc(100vw - #{$unite}*2), #{$maxW * .666}));
			gap: 4px;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			opacity: 1;
			transition: opacity calc(var(--spaT) * .5 ) ease-in-out;

			@media screen and (min-width: $maxW){
				@include flex-direction(row);
				@include align-items(stretch);
				width: calc(min(calc(100vw - #{$unite}*2), #{$maxW * 1.5}));
			}

			// WIP
			z-index: 2;

			> li{
				width: 100%;
				display: inline-block;
				text-align: center;
				box-sizing: border-box;
				color: var(--cc);
				//background: var(--bg);

				> ul{
					height: 100%;
					@include flex();
					@include flex-direction(column);
					@include justify-content(space-between);
					gap: 0;
					
					> li{
						padding: $base*2 math.div($unite,2);
						background: var(--bg);

						&:hover{
							color: var(--bg);
							background: var(--cc);
						}

						&:first-of-type{
							padding-top: $base*4;
						}
						&:last-of-type{
							padding-bottom: $base*4;
						}
						&:not(:last-of-type){
							flex-grow: 2;
						}
						> ul{
							height: 100%;
							@include flex();
							@include flex-direction(column);
							@include justify-content(space-between);
						}
					}
				}



				h2{
					@include f1(0);
					text-transform: uppercase;
					margin: math.div($baseline,4) 0;
				}

				h3{
					@include f1(2, 0, $bold);
					//margin-bottom: math.div($baseline,4);
					cursor: pointer;
				}

				address, .details, .authors{
					@include f1(0);
				}
				.date, .subtitle{
					@include f1(1);
					margin-bottom: math.div($baseline,4);
				}
				.date{
					text-transform: uppercase;
				}

				address{
					font-style: normal;
				}

				.type{display: none;}

				.link{
					padding: math.div($baseline,2);
					@include f1(0, 0, $bold);;

					&:before{
						content: "→";
						padding-right: .5em;
					}

					span{
						text-decoration: underline;
						text-decoration-ink-skip: auto;
					}
				}

				.flag{display: none;}

				&.about p{@include f1(0);}
				&.publications{
					.date{display: none;}
				}
			}
		}

		#coverFallback{
			display: none; 
			height: 100%;

		}

		#pan360{
			height: 100vh;
			&:not(.pnlm-container){
				z-index: -1;
				display: none;
			}
		}
	}
	#panorama.active + main{opacity: .98;}
}

body:not([data-serve="index"]):not(.print) #panFallback{ opacity: 0 !important;}

body.print{
	#panorama{
		#panFallback, #pan360{display: none;}
		#coverFallback{
			height: 100%;
			width: 100%;
		}
	}


  nav#panorama{

    position: absolute;
    width: calc(#{$pW} + ( #{$bleed} *2));
    height: calc(#{$pH} + ( #{$bleed} *2));
    background: var(--bg);

    top: -$mT;
    left: -$mPf;

    #coverFallback{
      display: inline-block;

      img{
        width: 100%;
        //height: 100%;
        object-fit: cover;
		  	height: 105%;
				left: -1px;
				top: -1px;
      }
    }
  }

  &:not(.forscreen) nav#panorama{
    top: calc(#{-$mT} + #{-$bleed});
    left: calc(#{-$mPf} + #{-$bleed});

    #coverFallback img{
      left: 0;
      top: 0;
    }
  }

}