#topbar{
	position: sticky;
	top: 0;
	margin: auto;
	width: calc(100vw - $unite);
	max-width: $maxW;
	//height: $baseline*2;
	height: 0;
	z-index: 5;
	transition: transform .25s ease-in-out, 
							max-width .25s ease-in-out;

	@include for-size(desktop-1200){
		width: calc(100vw - $unite*4);
	}

	> ul{
		display: grid;
		grid-template-columns: #{$unite*4} auto #{$unite*4};
		padding: $base*4 $baseline*1.5;
		background: lightgrey;
		background: var(--bg);

		> li{
			&.home{grid-column: 1/ span 1; font-weight: $bold;}
			&.pages{
				grid-column: 3/ span 1; text-align: right;
				>ul{
					@include flex;
					@include justify-content(flex-end);
					li:not(:last-of-type){
						padding-right: .75rem;
						margin-right: .75rem;

						&:after{
							content: "";
							right: -.75rem;
							height: 80%;
							width: 1px;
							border-right: 1px solid currentColor;
						}
						@include before-size(desktop-900){
							display: none;
						}
					}


				}
			}
		}
	}

}