$offsetTop: 20vh;

body:not(.noJS).transition{
	@keyframes moveIn↑{
		from{ top: calc(100vh + #{$offsetTop}); max-height: 0;}
		99%{ max-height: 200vh;}
		to{ top: $offsetTop; max-height: inherit;}
	}

	@keyframes moveOut↑{
		from{ top: $offsetTop;}
		to{ top: calc(-100vh - #{$offsetTop});}
	}
	@keyframes moveIn↓{
		from{ top: calc(-100vh - #{$offsetTop});}
		to{ top: $offsetTop;}
	}

	@keyframes moveOut↓{
		from{ top: $offsetTop;}
		to{ top: calc(100vh + #{$offsetTop});}
	}

 	main{
		top: $offsetTop;
		&:not(.previous){
			z-index: 2;
		}
		&.previous{
			//max-height: 100vh;
			//overflow-y: hidden;
			//position: absolute;
			z-index: 1;

			//left: calc(max( #{$unite*2}, calc( (100vw - #{$maxW})* .5) ) - #{$unite*.25});
		}
	}
	
	&:not([data-serve="index"]) main{		
		&:not(.previous){
			animation: var(--spaT) ease-in-out 1 moveIn↑;
		}
		&.previous{
			animation: calc(var(--spaT) * .75) ease-in-out 1 moveOut↓ forwards;
		}
	}

	&[data-serve="index"] main{		
		&:not(.previous){
			animation: var(--spaT) ease-in-out 1 moveIn↑ forwards;
		}
		&.previous{
			animation: var(--spaT) ease-in-out 1 moveOut↓;
		}
	}
}
