<div class="ariane">
  <p class="type">
    {% if layout == "publications_list" %}
      {% if language == 'en' %}
        All publications
      {% else %}
        Publications
      {%endif%}
    {% elif layout == "events_list" %}
      {% if language == 'en' %}
        All events
      {% else %}
        Évènements
      {%endif%}
    {% elif layout == "event" %}
      {% if language == 'en' %}
        Event
      {% else %}
        Évènement
      {%endif%}
    {% else %}
      {{ type | default(layout) }}
    {%endif%}
  </p>
  <p class="title">{{ title }}</p>

  {% if layout == "publication" and content%}
    <p class="reading">{% readingTime content, language | default("fr") | safe %}</p>
  {%  endif %}
</div>