<header>
  <h1 class="{% if title | length > 40 %}long{% elif title | length > 25 %}moderate{% endif %}">{{ title | markdown | replace('<p>', '')| replace('</p>', '')| safe }}</h1>

  {% if subtitle %}
    <p class="subtitle">{{ subtitle | markdown | escaP | safe }}</p>
  {% endif %}

  {% if layout == "publication" %}
    <p class="author">
    {% if language == 'fr' %}Par&#32;
    {% else %}By&#32;{% endif %}
    {%- if (author | isArr) -%}{% for author in author %}{% if loop.index == author | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ author }}{% endfor %}
    {% else %}
      {{ author }}
    {% endif%}
    </p>
  {% endif %}

  {% if layout == "event" %}
    {% if organizers %}
      <p class="organizers">
        {% if language == 'fr' %}Un évènement organisé par&#32;
        {% else %}An&#32;{% endif %}
        {%- if (organizers | isArr) -%}{% for organizer in organizers %}{% if loop.index == organizers | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ organizer }}{% endfor %}{%- else -%}{{organizers}}{%- endif -%}        
        {% if language != 'fr' %}&#32;event{% endif%}
      </p>
    {% endif %}
    <p class="date">{% dateCompare event_date, (language | default("fr")) %}</p>
    <address>
      {{ place }}
      {%if postal_adress%}
        <span class="postal">{{postal_adress}}</span>
      {%endif%}
    </address>
    
    {% if cover.credit%}
    <div class="coverCredit">
      {{ cover.credit }}
    </div>
    {%endif%}
  {% else %}

  {% endif %}


  <ul class="flags">
  {% if flag %}
    {%- if (flag | isArr) -%}
      {% for f in flag %}
        <li class="flag">{{f | markdown | escaP | safe}}</li>
      {% endfor %}
    {% else %}
      <li class="flag">{{flag | markdown | escaP | safe}}</li>
    {% endif %}
  {% endif %}
  {% include "partials/tools/check_for_internal_authors.html" %}
  </ul>
  
</header>
