{% if publication %}
	{% set item = publication %}
{% elif event  %}
	{% set item = event %}
{% endif %}

<li data-date="{{ item.data.date }}" 
		data-title="{{ item.data.title | markdown | replace('<p>', '')| replace('</p>', '') | safe}}"
		{% if publication %}
		data-author="{%- if (item.data.author | isArr) -%}{{item.data.author | join(', ')}}{%else%}{{item.data.author}}{%endif%}"
		{%endif%}>

	<a href="{{item.url}}">
		<p class="type">{{ item.data.type }}</p>
		<p class="date">{{ item.data.date | date | safe}}</p>
		<h3 class="title">{{ item.data.title | markdown | escaP | safe}}</h3>

	  {% if item.data.subtitle %}
	    <p class="subtitle">{{ item.data.subtitle | markdown | escaP | safe}}</p>
	  {% endif %}

		<div class="details">

			{% if publication %}

				<p class="author">
				{%- if (item.data.author | isArr) -%}{% for author in item.data.author %}{% if loop.index == item.data.author | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ author }}{% endfor %}
				{% else %}
					{{ item.data.author }}
				{% endif%}
				</p>
				
			{% endif %}

			{% if event %}

		<div class="rendez-vous">
	        <p>{% dateCompare item.data.event_date, (language | default("fr")) %}</p>
	        <address>{{ item.data.place }}</address>						
		</div>

			{% endif %}

			<ul class="flags">
				{% if item.data.flag %}
					{%- if (item.data.flag | isArr) -%}
						{% for f in item.data.flag %}
							<li class="flag">{{f | markdown | escaP | safe}}</li>
						{% endfor %}
					{% else %}
						<li class="flag">{{item.data.flag | markdown | escaP | safe}}</li>
					{% endif %}
				{% endif %}
				{% include "partials/tools/check_for_internal_authors.html" %}
			</ul>
		</div>
	</a>
</li>