<nav>
	<ul id="sortControls">
		<li class="title">
			<button title="Sort by title" data-value="title" onclick="SortItem(this)"><span lang="en">Title</span><span lang="fr">Titre</span></button>
		</li>
		<li class="date">
			<button title="Sort by date"data-value="date" onclick="SortItem(this)">Date</button>
		</li>
		{% if layout == "publications_list" %}
			<li class="author">
				<button title="Sort by author" data-value="author" onclick="SortItem(this)"><span lang="en">Authors</span><span lang="fr">Auteurs</span></button>
			</li>
		{% endif %}
	</ul>
</nav>