<nav id="panorama">
	<!--Fallback-->
	<ul id="panFallback">
    <li class="events">
      <ul>
        <li>
          {%- for event in collections.events -%}
          	{% if loop.last %}
          
              {% if date | isInThePast %}
                <h2>
                  <span lang="en">Last event</span> 
                  <span lang="fr">Dernier événement</span>
                </h2>
              {% else %}
                <h2>
                  <span lang="en">Next event</span> 
                  <span lang="fr">Prochain évènement</span>
                </h2>          
              {% endif %}

              <ul>
                <li>
              		<a href="{{ event.url }}">
                  <h3>{{ event.data.title }}</h3>
               	  <p class="date">{% dateCompare event.data.event_date %}</p>
               	  <address>{{event.data.place}}</address>

                	{% if event.data.authors %}

                    <p class="authors">
                    <span lang="en">By</span> 
                    <span lang="fr">Par</span>&#32;
                    {%- if (event.data.authors | isArr) -%}{% for authors in event.data.authors %}{% if loop.index == event.data.authors | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ authors }}{% endfor %}
                    {% else %}
                      {{ event.data.authors }}
                    {% endif%}
                    </p>
                  {% endif %}

                  </a>
                </li>
              </ul>
          	{% endif %}
          {%- endfor -%}
          </li>
        <li>
          <a href="/event" class="link">
            <span lang="en">All past events</span> 
            <span lang="fr">Tous les événements passés</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="publications">
      <ul>
        <li>
          <h2>
            <span lang="en">Research papers</span> 
            <span lang="fr">Dossier de recherche</span>
          </h2>
          {%- for publication in collections.publications | head(-1) -%}
            <ul>
              {% include "partials/list_item.html" %}
            </ul>
          {%- endfor -%}
        </li>
        <li>
    	  	<a href="/publication" class="link">
            <span lang="en">All publications</span> 
            <span lang="fr">Toutes les publications</span>
          </a>
        </li>
      </ul>
 	  </li>
  </ul>
	<!--End Fallback-->
	<div id="pan360"></div>
  {% if cover.fallback %}
    <div id="coverFallback">
      <figure>
        {% set cover =  ['/assets/media/events/', cover.fallback] %}
        <img data-src="{{ cover | join | url }}"  class="lazy">
      </figure>
    </div>
  {% endif%}
</nav>