<nav id="sideAction">
  <a  aria-label="Close current view"
      title="Close current view"
      class="action-close" href="/">×</a>
  <button aria-label="Switch to dark/light Mode"
          title="Switch to dark/light Mode"
          class="action-colorMode requireJs">
    {% include '../../assets/svg/icon-dark_mode.svg'%}
  </button>
  <div aria-label="Share this page"
          title="Share this page"
          class="action-share requireJs">          
    {% include '../../assets/svg/icon-share.svg'%}
    <div class="share-btn" data-title="{%if title%}{{ title | markdown | escaP | safe }}{% endif %}">
      <a data-id="tg">{% include "../../assets/svg/social/tg.svg" %}</a>
      <a data-id="wa">{% include "../../assets/svg/social/wa.svg" %}</a>
      <a data-id="tw">{% include "../../assets/svg/social/tw.svg" %}</a>
      <a data-id="fb">{% include "../../assets/svg/social/fb.svg" %}</a>
      <a data-id="copy">{% include "../../assets/svg/social/copy.svg" %}</a>
    </div>
  </div>
</nav>
