<nav id="topbar" role="navigation">
	<ul>
		<li class="home"><a href="/">Automedias</a></li>
		<li class="pages">
			<ul>
				<li class="info"><a href="/event">Evénements</a></li>
				<li class="info"><a href="/publication">Publications</a></li>
				<li class="info"><a href="/Info">Info</a></li>
			</ul>			
		</li>
	</ul>
</nav>