html{
	&[lang="fr"] {
		*[lang="fr"]{display: inline-block;}
		*[lang="en"]{display: none;}
	}
	&[lang="en"] {
		*[lang="en"]{display: inline-block;}
		*[lang="fr"]{display: none;}
	}
}

main{

	p{
		word-wrap: break-word;
	}

	.aside, .article{

		.wrapper{
			//width: calc(min(100%, calc( ( #{$maxW}  * .666 ) - #{$unite*2}) ));

			p{
				text-align: justify;
				text-align-last: left;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				-moz-hyphens: auto;
				hyphens: auto;

				-webkit-hyphenate-limit-before: 2; /* For Safari */
				-webkit-hyphenate-limit-after: 4; /* For Safari */
				-webkit-hyphenate-limit-chars: 5 2 4;
				-ms-hyphenate-limit-chars: 5 2 4;
				-moz-hyphenate-limit-chars: 5 2 4;
				hyphenate-limit-chars: 5 2 4;

				-ms-hyphenate-limit-lines: 2;
				-webkit-hyphenate-limit-lines: 2; 
				hyphenate-limit-lines: 2;				
			}

			img{
				width: 100%;
				transition: .25s ease-in-out;
				filter: grayscale(0);
   			mix-blend-mode: normal;
				&:not(.color){
					    filter: grayscale(1);
   						mix-blend-mode: multiply;
				}
			}

			.demi{
				@include for-size(desktop-900){
					width: 49%;
					display: inline-block;
					vertical-align: top;
					padding: 0 1rem;
					box-sizing: border-box;
				}
			}
		}

		h1{ @include f1(2, 0, $bold);}

		h2{ @include f1(2); }
		h3{ @include f1(1, 0, $bold);}
		p{
			margin-bottom: $baseline;
			@include f1(1);
			&.intro{
				@include f1(2)
				//left: -$unite;
			}

			sup.footnote-ref{
				//border: 1px solid currentColor;
				//border-radius: 50%;
				//height: 1rem;
				//width: 1rem;
				//display: inline-block;
				font-weight: $bold;
				padding: 0 .25em;
			}

			em{
				font-style: italic;
			}

			&.itw{
				strong:first-of-type{
					text-decoration: underline;
					text-decoration-ink-skip: auto;
					text-decoration-thickness: .1em;
					@include f1(0, 0, $bold);
					-webkit-hyphens: none;
			    -moz-hyphens:    none;
			    -ms-hyphens:     none;
			    hyphens:         none;
					&:after{content: "\2009: "}
				}

				@include before-size(desktop-900){
					strong:first-of-type{
						display: block;
					}
				}
				@include for-size(desktop-900){
					padding-left: calc($gut*3);

					strong:first-of-type{
						position: absolute;
						left: 0;
						max-width: calc($gut*3);
						word-break: break-word;

					}
				}
			}

		}
		
		> * > ul,
		> * > ol{
			
			padding-left: math.div($unite, 2);
			margin-bottom: $baseline;
			&:not(.minor) li{ 
				@include f1(1);
				width: calc(100% - min(#{$unite*2}, 3vw));
			}	
			&.minor li{ 
				@include f1(0);
				max-width: calc(max(math.div($maxW, 4),80%));
			}
			&.duo{
				@include for-size(desktop-900){
					column-count: 2;
				}
				li{
					break-inside: avoid;
					max-width: 100%;
					padding-right: math.div($unite, 2);
					box-sizing: border-box;
				}
			}
			> li{
				padding-left: math.div($unite, 4);
				margin: 0 0  $base*2 0 ;
				font-size: 80%;
				line-height: 150%;
				
				width: 100%;
				p{
					margin: 0; 
					font-size: inherit; 
					line-height: inherit;
				}

			}
		}

		> * > ul{
			li:before {
				content: "▪";
				position: absolute;
				left:  math.div($unite, -2);

			}
		}


		a{
			text-decoration: underline;
			text-decoration-ink-skip: auto;
		}

		hr{
			border: 1px solid var(--cc);
			margin-bottom: $baseline;
		}
	}


	//
	// Main article
	//
	.article{

		@include flex;
		@include justify-content(flex-end);
		@include flex-wrap(wrap);

		h1, h2, h3{ margin: math.div($baseline,2) 0;}
		* + h1, * + h2{ margin-top: $baseline*3;}

		blockquote{
			
			padding: 0 calc(clamp($unite, 5vw, $unite*2));
			margin-bottom: $baseline;

			&, p{
				@include f1(1);
				font-size: $baseline*.55;
				line-height: 1.5em;
				font-style: italic;
			}
			p{margin: 0;}
			&.l *{ @include f1(2); }
			&.s *{ @include f1(0); }

			figcaption{
				@include f1(0);
				margin-top: $base*4;
				&:before{
					content:"— ";

				}
			}
		}

	}


	//
	// aside sections
	//

	.aside{

		//.wrapper{ left: calc(max(0%, ( #{$maxW} * .3333 ) - #{$unite})); }

		> * > ul 
		> * > ol{
		> li{
			@include f1(1)
			}
		}
	}

}

//
//

body.darkMode main .aside,
body.darkMode main .article {
	.wrapper img:not(.color){
    mix-blend-mode: color-dodge;
	}
}