main{
	& > * > header{
		text-align: center;
		@include flex;
		@include justify-content(center);
		@include align-items(center);
		@include flex-wrap(center);
		@include flex-direction(column);

		h1{
			@include f1(4, 0, $bold);


			&.XXL{
			}
		}

		.subtitle{
			@include f1(2);
			//font-style: italic;
		}

		.date{
			@include f1(1, 0, $bold);
			text-transform: uppercase;
			// margin-bottom: math.div($baseline,2);
		}

		address{
			@include f1(1);
			font-style: normal;
		}
	}
}

main:not(.print){
	& > * > header{
		min-height: 70vh;
		margin-bottom: $baseline;
		border-bottom: $border-black;
		h1{
			margin-bottom: $base*4;
			max-width: calc(clamp($unite*10, 100%, 90%));

			@include for-size(desktop-1200){
				&.moderate{
					font-size: calc(clamp($baseline*2, 3vw, $baseline*4));
				}
				&.long{
					font-size: calc(clamp($baseline*2, 5vw, $baseline*2.5));
				}
			}
		}
		.subtitle{
			margin-bottom: $baseline;
			span{
				display: block;
				font-size: .8em;
				line-height: 1.2em;
				padding: .5em 4vw 0 4vw;
			}
		}

		.organizers, .coverCredit{display: none;}
		address{
			margin-bottom: math.div($baseline,2);
			.postal{display: none}
		}			
	}
}



main.print{

	.ariane{
		display: none
	}
	& > * > header{

		width: calc(#{$pW} - 20mm);
		position: absolute;
		bottom: calc(#{-$mB} - 2mm);
		padding: 4mm 4mm 6mm 4mm;
		left: calc(-10mm - 1px);
		display: grid;
		grid-template-columns: repeat( 4, 1fr);
		grid-template-rows: repeat( 3, 8mm);
		align-items: flex-start;
		background: var(--bg);

		&:after{
			content: "Illustration Lucile Kessil";
			@include f1(0);
			position: absolute;
			top: 78%;
			right: -140px;
			transform: rotate(-90deg);
			text-align: left;
			transform-origin: top left;
		}

		h1{	
			position: absolute;
			top: -178mm;
			top: calc(-178mm - 1px);
			font-size: 2.5em;
			line-height: .9em;
			padding: 6mm 5mm 3mm 5mm;
			grid-column: span 4;
			left: -0.5mm;
			left: -1.75mm;
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 37.26% 100%, 30.17% 81.78%, 26.06% 84.04%, 25.75% 101.58%, 0% 100%);

			&:after{
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				background: var(--bg);
				opacity: .8;
				z-index: -1;

			}
		}

		.subtitle{
			font-size: 2em;
			line-height: 1em;
			grid-column: span 3;
			text-align: left;
			grid-row: 1 / 3;
			font-weight: $medium;
			letter-spacing: -0.25px;
			top: -.2rem;

			span{
				font-size: .5em;
				line-height: 1.2em;
				display: inherit;
				padding-top: 0.25em;
				width: 73%;
				font-weight: $normal;

			}

		}

		.organizers{
			display: none;
			/* font-size: .6em;
			line-height: 1.35em;
			display: inline-block;
			align-self: flex-end;
			width: 48mm;
			padding-left: 4mm;
			//text-transform: uppercase;
			grid-column: 3 / 4;
			grid-row: 3;
			text-align: left;	
			top: .5em; */
		}

		.coverCredit{
			display: none;
		}

		.date{
			font-size: 1.5em;
			line-height: 1.5em;
			text-align: right;

			&:after{
				content: "9h30\A → 19h45";
				display: block;
				font-size: .7em;
				line-height: 1em;
				text-align: right;
				white-space: pre;
				top: .65em;
			}

			time{
				letter-spacing: -0.1rem;
				top: -.3rem;

				.sMonth{
					display: block;
					font-size: 3rem;
					border-bottom: 3px solid;
					letter-spacing: 0;
					line-height: .75em;
					padding-right: .4em;
					padding-bottom: .125em;
				}

				.sYear{
					position: absolute;
					font-size: .55em;
					transform: rotate(-90deg);
					line-height: 1em;
					display: block;
					right: -8px;
					bottom: 1.4em;
					font-weight: 700;					
				}
			}
		}

		address{

			display: block;
			top: 0.5em;
			grid-row: 3;
			grid-column: 1/span 3;
			align-self: flex-end;
			text-align: left;
			font-size: .65em;
			line-height: 1.35em;
			font-weight: $bold;
			.postal{
				display: block;
				font-weight: $normal;
				//font-style: italic;
			}
		}
	}

	&:not(.forscreen) > * > header{

		padding: 4mm 4mm calc(6mm + #{$bleed}) calc(4mm + #{$bleed});
		left: calc(-10mm - #{$bleed});
		bottom: calc(#{-$mB} - 2mm - #{$bleed} );
		width: calc(#{$pW} - 20mm + #{$bleed});

		h1{
			padding: calc(6mm + #{$bleed}) 5mm 3mm calc(5mm + #{$bleed});
			top: -183mm;
			left: -1mm;
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40.32% 97.32%, 31.92% 80.44%, 28.25% 82.7%, 27.94% 98.9%, 0% 100%);
		}
	}
}