main[data-type="event"]{

	#partners{
		> ul{
			h2{
				@include f1(1,0,$bold);
			}
			ul{
				@include grid(3);
				gap: $baseline $unite;
				align-items: center;
			}

			li{
				a{
					text-decoration: underline;
					text-decoration-skip-ink: auto;
				}
				img{

					filter: grayscale(1) contrast(3);
					mix-blend-mode: multiply;
					opacity: .75;
				}
			}
		}
		.legals *{
			@include f1(0);
		}		
	}

	&:not(.print){
		#partners{
			> ul{
				> li{
					margin-bottom: $baseline;
					> ul{
						padding: $baseline 0;
						> li{
							img{
								max-height: $baseline*3;
								max-width: $baseline*4;
							}
						}
					}
				}
			}
		}
	}
	&.print{
		#partners{
			//position: absolute;
			//bottom: 0;
			width: 100%;
			h1{
				display: none;
			}
			> ul{
				display: grid;
				gap: $baseline*2 $unite;
				grid-template-columns: repeat(2, 1fr);

				> li {
					
					&:after{
						content: "";
						width: 100%;
						height: 1px;
						position: absolute;
						bottom: $baseline*-1.5;
						left: 0;
						border-bottom: 1pt solid;
					}

					h2{font-size: 1rem;}
					> ul{
						grid-template-columns: repeat(3, 1fr);
						> li{

							img{
								max-height: $baseline*2;
								max-width: $baseline*3.5;
							}
						}
					}
				}
			}
		}

		.legals{
			column-count: 2;
			column-fill: auto;
		}
	}
}

body.darkMode main[data-type="event"] #partners > ul li img{
	filter: grayscale(1) invert(1);
	mix-blend-mode: screen;
}