main[data-type="event"]{
	#program{

		li.day{
			> .time{


				time{
					padding: 0 0 $baseline 0;

					.sDay{
						line-height: 90%;
						font-weight: $normal;
						display: inline-block;
						text-align: center;
						
						right: -.1em;

						sup{
							font-size: .1em;
							vertical-align: top;
							font-weight: $bold;
							right: 0;
							top: $baseline*-2;
							position: absolute;
						}

					}

					.sComma{display: none}

					.sMonth{
						position: absolute;
						top: $baseline*-.5;
						@include f1(2);
						
						font-weight: $bold;
						text-transform: uppercase;
					}
					.sYear{
						position: absolute;
						bottom: $baseline*-1.5;
						right: 0;
						@include f1(2);
					}

					&:lang(en) {
						.sMonth{ left: 0;	}
					}
					&:lang(fr) {
						.sMonth{ right: 0;	}
					}

					&{
						&:after {
						  content: "";
						  width: 100%;
						  height: 1px;
						  bottom: 0;//$baseline*-1;
						  left: 0;
						  border-bottom: $border-black;
						  position: absolute;
						  display: inline-block;
						}
					}
				}

			}

			h2.dayDescription{
				border-bottom: $border;
				@include align-self(flex-end);
				strong{ 
					display: block; 
					font-weight: $bold;
				}
			}

			.dayAllSessions{

				.daySession{

					h3{
						@include f1(1,0,$bold);
					}

					&.opening{
						grid-column: 1/-1;
					}	
					&.break{
						grid-column: 1/-1;
						border-bottom: 1px solid currentColor;
						text-transform: uppercase;

						h3{
							font-weight: $normal;
							left: 0;
						}
					}

					ul.dayItems{

						li.dayItem{

							> *{
								margin-top: $base*2;
							}
													
							time{
								@include f1(1,0,$bold);
								margin: 0 0  $base*2 0;
								display: block;

								&:after {
								  content: "";
								  width: math.div($unite,2);
								  height: 1px;
								  bottom: 0;
								  left: 0;
								  border-bottom: $border-black;
								  position: absolute;
								  display: inline-block;
								}
							}

							> p{
								@include f1(0);
								& + p{ margin-top: 0}
							}
							
							.description{
								*{
									@include f1(0);
								}
							}

							h4{
								@include f1(0,0,$bold);
								text-transform: uppercase;
							}

							> ul{ 
								> li{
									padding-left: math.div($unite, 2);
									break-inside: avoid;
									@include f1(0);
									&:before {
										content: "▪";
										position: absolute;
										left:  0;
									}
								}
							}

							.debate{
								margin-top: $base*3;
								svg{
									position: absolute;
								}
								p{
									@include f1(0,0,$medium);
									padding-left: $unite;
								}
							}
							.workshop{
								em{display: block;}
							}
						}
					}
				}
			}
		}
	}


	&:not(.print){
		#program{
			> ul{
				margin-top: $baseline*3;
			}

			li.day{
				margin-bottom: $baseline*4;
				@include for-size(desktop-1200){
					display: grid;
					grid-template-columns: calc(clamp(5rem, 100%, calc( (#{$maxW} - #{$unite*4}) * .2 ) )) 1fr;
					grid-gap: $unite;
			  }				
				> .time{
					@include before-size(desktop-1200){
						margin-bottom: $baseline*2;
						text-align: right;
					}
					@include for-size(desktop-1200){
						position: sticky;
						top: 25vh;
						height: min-content;
						@include align-self(flex-end);
						time{
							width: 100%;
							text-align: right;
							padding: 0  0 $base*2 0;
						}
					}
					.sDay{
						font-size: calc(clamp(7rem, 9vmax, 7rem));
						top: $baseline*1;
						padding-bottom: $base*4;
					}
				}
				h2.dayDescription{
					@include f1(3);
					@include before-size(desktop-1200){
						margin-bottom: $base*4;
						padding: $base*4 0;
					}
					@include for-size(desktop-1200){
						border-bottom: $border-black;
					}
				}				
				.dayAllSessions{
					grid-column: 2;
					@include grid(2);
					padding-left: calc(clamp(#{math.div($unite, 2)}, 2vw, #{$unite}));

					h3{
						width: calc(min(calc(100% + #{$unite}), #{$maxW*.33}));
						margin-bottom: $base*4;
						left: calc(clamp(#{math.div($unite, -2)}, 2vw, #{-$unite}));
					}
					.daySession{
						&.xs{
							@include grid(2);
						}

						&.break{
							//margin: $baseline 0;
							left: calc(clamp(#{math.div($unite, -2)}, 2vw, #{-$unite}));
						}
						ul.dayItems{
							li.dayItem{							
								margin-bottom: $baseline;
							}
						}
					}
				}
			}
		}
	}

	@media print{
		#program{

			li.day{
				@include simpleGrid(6, ($baseline 4mm));
				grid-template-rows: 7rem auto;
				> .time{
					grid-column: span 1 / -1;
					align-self: flex-end;
					justify-items: flex-end;
					display: inline-grid;
					time{
						padding: 0  0 $baseline*1.25 0;
						.sDay{
							font-size: $font-size*3;
							font-weight: $bold;
							top: $baseline*1;
						}
						.sYear{display: none;}
					}
				}
				h2.dayDescription{
					grid-column: 1 / span 5;
					grid-row: 1;
					@include f1(2);
					border-width: 3px;
					align-self: flex-end;
				}				
				.dayAllSessions{
					grid-column: 1/-1;
					@include simpleGrid(6, ( $base*4 4mm));
					.daySession{
						h3{
							line-height: 1.2em;
						}						
					}
					.daySession{
						grid-column: span 3;
						.flag{display: none;}
						&.opening{
							grid-column: span 2;
							.flag{display: none;}
						}
						&.break{
							padding: $base*2 0;
							margin: $base*4 0 $base*2 0;
							display: inherit;
						}

						ul.dayItems .dayItem{
							ul.guests:not(.xs){
								column-count: 2;
							}
							.debate{
								svg{
									top: -.35em;
									transform: scale(.75);
								}
							}

							.guests{
								li{
									padding-left: .25em;
									left: .5em;

									&:before{
										content: ".";
										left: -.5em;
										top: -.2em;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}