main[data-type="event"]{

	#guests{

		position: relative;

		h1{
			position: sticky;
			top: 0;
		}

		h2{
			@include f1(2);
		}

		> ul{
			width: 100%;
		}

		[aria-label="contact"] a {
			text-decoration: underline;
			text-decoration-skip-ink: auto;
		}

		> ul.artefact {
			scrollbar-width: none;
			overflow: hidden auto;

			&:after{
				content: "↑↓";
				width: 100%;
				text-align: center;
				padding: $base*4;
				position: sticky;
				bottom: 0;
				left: 0;
				display: inline-block;
				z-index: 2;
				background: var(--bg);
				//border-bottom: 1px solid currentColor;
				border-top: 1px solid currentColor;
				//border-right: 1px solid currentColor;
				box-sizing: border-box;
				@include f1(1,0, $medium);
			}

			> li {
				
				background: var(--bg);
				border-bottom: 1px solid currentColor;
				border-right: 1px solid currentColor;

				&:first-of-type{border-top: 1px solid currentColor;}

				&:hover, &.show{
					color: var(--bg);
					background: var(--cc);
					border-right-width: 10px; 
					& + li{
						border-top: 1px solid currentColor; 
						top: -1px;
					}
				}
				
				button{
					padding: .5rem;
					display: block;
					width: 100%;
					text-align: left;
					@include f1(1,0, $bold);
					background: inherit;
					color: currentColor;
					box-sizing: border-box;
					cursor: pointer;
					z-index: 2;
				}
			}
		}

		> ul:not(.artefact){
			display: inline-block;
			box-sizing: border-box;
			overflow: hidden auto;	

			> li{
				//position: absolute;
				//top: 0;
				//left: 0;

				&:not(.show){display: none;}
				&:hover{ display: inline-block;}

				
				p{
					@include f1(1);
					margin-bottom: math.div($baseline,4);
					&[aria-label="job title"]{
						font-weight: $medium;
					}
				}

			}
		}			

		@include before-size(desktop-900){
			> ul{
				height: calc(min(50vh, $baseline*15));

				&.artefact{
					&:after{
						border: $border;
					}
					> li{
						border-left: $border;
					}
				}
				&:not(.artefact){
					padding: $baseline 0;
				}
			}
		}
		@include for-size(desktop-900){
			display: grid;
			grid-template-columns: calc(clamp(5rem, 100%, calc( (#{$maxW} - #{$unite*4}) * .3333 ) )) 1fr;
			grid-gap: $unite;

			> ul{
				height: calc(clamp(#{$baseline*5}, 50vh, #{$baseline*20}));
			}
			> ul.artefact{
				grid-column: 1;
			}
			> ul:not(.artefact){
				grid-column: 2;
				//h2{visibility: hidden; font-size: 0; line-height: 0; position: absolute;}
			}
	  }
	}
}
