main[data-type="event"]{
	
	#inscription{}
	
	&:not(.print){
		#inscription{

		}
	}
	
	&.print{
		&:not(.forscreen){

			#inscription{

				.wrapper > p:first-of-type{
					margin-bottom: $baseline;
				}
				.link.xxl{display: none;}
			}
		}
	}
}
