main[data-type="event"]{
	#videos, #teasers{

		h1{
			max-width: inherit;
			width: 100%;
		}

		.container{
			height: auto;
			margin: 0 1rem 2rem 1rem;
			box-sizing: border-box;
			flex-grow: 1;
			transition: .25s ease-in-out;
			display: inline-block;
			width: auto;
			
			> *{
				max-width: calc(#{$maxW} - #{$unite*3.5});
			}

			.lv{
				width: 100%;
				transition: .25s ease-in-out;
			}
			p{
				@include f1(0);
				padding: $base*2 0;

			}
		}

		&:not([data-item="1"]){
			.container > *:not([class$="-activated"]){
				width: calc(#{$maxW} / 2 - #{$unite*3});
			}
			.container > *[class$="-activated"]{
				width: min( calc(100vw - #{$unite*3.5}), calc(#{$maxW} - #{$unite*3}));
			}
		}		
		&[data-item="1"]{
			.container > *{
				width: min( calc(100vw - #{$unite*3.5}), calc(#{$maxW} - #{$unite*3}));
			}
		}

		// SALE !
		[videoid="717220173"]{
			background: url(https://i.ytimg.com/vi_webp/ex7bj3lHfyg/maxresdefault.webp);
		  background-repeat: repeat;
		  background-size: auto;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

main[data-type="event"].print #videos{ display: none; }
main[data-type="event"].print #teasers{ display: none; }