.pnlm-load-box {
   z-index:-999;
   opacity: 0;
}

@media screen and (min-width: $maxW){
   body[data-serve="index"]{
      #topbar{
         max-width: calc(min(calc(100vw - #{$unite}*2), #{$maxW * 1.5}));
      }
   }
}