main[data-type="info"]:not(.print){
	section.article{
		padding: 0;
		top: $baseline*-1;
		p{
			@include for-size(desktop-1200){
				@include f1(1);
				line-height: 1.5em;
			}
		}
	}

	section#colophon{
		@include flex();
		@include justify-content(space-between);

		> ul:last-of-type{text-align: right;}

	}
}