section.bibliography{

	li.noCounter {
		list-style-type: none;
	}

	li{@include f1(0);}	

	h2, h2 *{ 
		font-weight: $bold;
		text-transform: capitalize;
	}

	> ol > li.noCounter > ol{
		@include grid(4);
		gap: $base*4;
		margin-bottom: $baseline*2;

		li{
			margin-left: math.div($unite,2);
		}
	}
}