main[data-type="interview"]{

	> article[data-media="true"] {
		> header{
			//display: none;
		}

		section.article{
			min-height: inherit !important;
		}

		 #audio{
		 	width: 100%;
			@media (min-width:calc(#{$maxW} + #{$unite*4})){
				padding-right: $unite;
				max-width: calc(min(100%, calc( ( #{$maxW}  * .334 ) - #{$unite*2}) ));
			}
			iframe{
			 	margin-bottom: $base*4;
			 	padding-bottom: $base*4;
			 	border-bottom: $border;
			 	mix-blend-mode: multiply;
				filter: grayscale(1) contrast(1.3);
			 }
		 }
	}
	
}

body.darkMode article[data-media="true"] #audio iframe{
	mix-blend-mode: screen;
	filter: grayscale(1) contrast(1.3) invert(1);
}